.menu__link img {
    height: 38px;
    width: 42px;
}

.menu__link {
    color: #757575;
    font-size: 1.3rem;
    font-weight: bold;
    margin-right: 10px;
    text-decoration: none;
    transition: 300ms;
    
}

.menu__link:hover {
    color: #0070d1;
    text-decoration: underline;
}